nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#1f1f38;
    
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 70px;
    font-size: 30px;
  }
  
  nav li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #f2f2f2;
    color:#1f1f38;
   
  }
  
  nav li.active a {
    background-color:#1f1f38;
    color: #4db5ff;
  }
  